In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv

In [2]:
import pandas as pd
test_df = pd.read_csv("../input/titanic/test.csv")
train_df= pd.read_csv("../input/titanic/train.csv")

In [3]:
train_df=train_df.drop(['Name','Ticket','Fare','Cabin'],axis=1)
test_df=test_df.drop(['Name','Ticket','Fare','Cabin'],axis=1)
combine = [train_df, test_df]

In [4]:
train_df =train_df.fillna(method='ffill')
test_df=test_df.fillna(method='ffill')

In [5]:
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [6]:
test_df.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
train_df=train_df.apply(LabelEncoder().fit_transform)
test_df=test_df.apply(LabelEncoder().fit_transform)

In [8]:
train_df

     PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  Embarked
0              0         0       2    1   28      1      0         2
1              1         1       0    0   51      1      0         0
2              2         1       2    0   34      0      0         2
3              3         1       0    0   47      1      0         2
4              4         0       2    1   47      0      0         2
..           ...       ...     ...  ...  ...    ...    ...       ...
886          886         0       1    1   35      0      0         2
887          887         1       0    0   24      0      0         2
888          888         0       2    0   24      1      2         2
889          889         1       0    1   34      0      0         0
890          890         0       2    1   42      0      0         1

[891 rows x 8 columns]

In [9]:
test_df

     PassengerId  Pclass  Sex  Age  SibSp  Parch  Embarked
0              0       2    1   44      0      0         1
1              1       2    0   60      1      0         2
2              2       1    1   74      0      0         1
3              3       2    1   34      0      0         2
4              4       2    0   27      1      1         2
..           ...     ...  ...  ...    ...    ...       ...
413          413       2    1   35      0      0         2
414          414       0    0   51      0      0         0
415          415       2    1   50      0      0         2
416          416       2    1   50      0      0         2
417          417       2    1   50      1      1         0

[418 rows x 7 columns]

In [10]:
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df
X_train.shape, Y_train.shape, X_test.shape

((891, 7), (891,), (418, 7))

In [11]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Ypred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

100.0

In [12]:
submission = pd.DataFrame({'PassengerId':test_df['PassengerId'],'Survived':Ypred})
submission['PassengerId']=submission['PassengerId'].add(892)
submission

     PassengerId  Survived
0            892         1
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         1
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [13]:
filename = 'Titanic Predictions1.csv'

submission.to_csv(filename,index=False)